<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="EcommerceSanitySuite">
    <test name="Sanity Test Cases">
        <classes>
            <class name="tests.LoginFunctionality"/>
            <class name="tests.SignupTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.ProductBrowsingTests"/>
            <class name="tests.OrderPlaced"/>
            <class name="tests.Logoutfunctionality"/>
            <class name="tests.NavbarNavigationTest"/>
            <class name="tests.ResponsiveTest"/>
            <class name="tests.UIUXTest"/>
        </classes>
    </test>
</suite>